* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #25282a;
}

main {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

input[type='radio'] {
  display: none;
}

label {
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

p {
  color: white;
  display: none;
}

.button--container {
  display: flex;
}

.button {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid #75abfa;
  background-color: #75abfa;
}


  .button:hover,
  label:hover .button {
  border-color: white;
  background-color: white;
  }


#control1:checked ~ .button--container #label1 .button,
#control2:checked ~ .button--container #label2 .button,
#control3:checked ~ .button--container #label3 .button,
#control4:checked ~ .button--container #label4 .button {
  background-color: transparent;
}

#control1:checked ~ .button--container #label1:hover .button,
#control2:checked ~ .button--container #label2:hover .button,
#control3:checked ~ .button--container #label3:hover .button,
#control4:checked ~ .button--container #label4:hover .button {
  border-color: white;
}

#control1:checked ~ .title > p:nth-child(1),
#control2:checked ~ .title > p:nth-child(2),
#control3:checked ~ .title > p:nth-child(3),
#control4:checked ~ .title > p:nth-child(4) {
  display: block;
}




